.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    .modal-container {
        background: #ffffff;
        border: none;
        border: 1px solid #ececec;
        border-radius: 10px;
        max-width: 400px;
        margin: 50px auto;
        padding: 30px;

        .modal-head {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
        }

        .modal-body {
            margin-bottom: 20px;

            .modal-item {
                display: flex;
                align-items: center;

                & > p {
                    padding: 5px;
                    color: #4c57f5;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .modal-item-title {
                    font-weight: 600;
                    font-size: 13px;
                    padding: 5px;
                }
            }

            .modal-actions {
                display: flex;
                justify-content: center;

                .modal-actions-remove {
                    background-color: #4c57f5;
                    color: #fff;
                    padding: 10px 15px;
                    border-radius: 10px;
                    border: none;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
