.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #4c57f5;

    .container {
        width: 100%;
        max-width: 1400px;
        display: flex;
        justify-content: space-between;

        .title-header {
            margin: 16px;
            text-decoration: none;
            font-weight: 600;
            color: #fff;
        }

        .options {
            display: flex;
            align-items: center;

            .search-container {
                display: flex;
                align-items: center;

                .search-input {
                    padding: 5px;
                }

                .search-icon {
                    padding: 5px 10px;
                    color: #fff;

                    & > :hover {
                        cursor: pointer;
                    }
                }
            }
            .favorites {
                padding: 16px;
                text-decoration: none;
                color: #fff;
            }

            .filter {
                padding: 16px;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}
