@mixin text-ellipsis($lines: 1) {
    text-overflow: ellipsis;
    overflow: hidden;
    @if ($lines > 1) {
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    } @else {
        white-space: nowrap;
    }
}

.book {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    .info-book {
        .title-book {
            font-weight: 700;
            margin-bottom: 0;
            @include text-ellipsis($lines: 2);
        }

        .download-count {
            font-size: 13px;
        }
    }
    .buttons {

        & > a {
            text-decoration: none;
            color: #000;
        }
        .button {
            padding: 10px 0;
            width: 100%;
            border-radius: 10px;
            font-weight: 500;
            text-align: center;
            transition: 0.5s;

            cursor: pointer;

            &:hover {
                transform: scale(0.95);
            }
        }

        .add-fav-button {
            padding: 20px 0;
        }

        .read-button {
            background-color: #4c57f5;
            color: #fff;
        }
    }
}
